.about-devon {
  padding: 4rem 0rem;

  .row {
    width: 89%;
    margin: 0rem auto;

    @include flexItem(row, space-between);

    .container-1 {
      width: 50%;
      height: 20rem;
      padding: 1rem;
    }

    .container-1 {
      //   background: brown;
      position: relative;

      .box-start,
      .box-end {
        width: 10rem;
        height: 6rem;
        background: #efefef;
      }

      .box-start {
        position: absolute;
        top: 0rem;
        left: 0rem;
        border-radius: 0.3rem;
        box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0.2);
      }

      .box-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 80%;
        background: $primary;
        border-radius: 0.3rem;
        box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0.2);
        @include flexItem(row, center);

        h1 {
          font-size: 5em;
          color: $green2;
          font-family: $croissantone;
          text-transform: lowercase;
        }
      }

      .box-end {
        position: absolute;
        bottom: 0rem;
        right: 0rem;
        border-radius: 0.3rem;
        box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0.2);
      }
    }
    .container {
      //   background: blueviolet;
      width: 49%;
      padding: 1rem;

      .col {
        @include flexItem(column, space-between);
        align-items: flex-start;

        p {
          color: $gray2;
          padding: 1rem 0rem;
        }

        .row {
          width: 100%;

          margin: 0.3rem 0rem;
          @include flexItem(row, space-between);
          align-items: flex-start;

          .con-1 {
            @include flexItem(row, space-between);
            width: 4%;
            .dot {
              width: 0.9rem;
              height: 0.9rem;
              background: $primary;
              border-radius: 50%;
            }
          }
          .con-2 {
            width: 96%;

            p {
              padding-top: 0.2rem;
              color: $gray2;
            }
          }
        }
      }
    }
  }
}
