%roundBtn {
  .btn {
    text-align: center;
    margin-top: 2.3rem;
    button {
      padding: 0.6rem 0rem;
      width: 60%;
      margin: 0rem auto;
      background: $blue;
      color: $white;
      border: none;
      font-size: 0.98em;
      letter-spacing: 0.07rem;
      cursor: pointer;
      border-radius: 1rem;
      color: $white;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(0.1rem);
        box-shadow: none;
        transition: all 0.3s ease;
      }
    }
  }
}
