.more {
  background: url("/assets/icons/menu.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 4rem;
  height: 2rem;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  cursor: pointer;
}

.sidebar {
  width: 12rem;
  height: 100%;
  background: $white;
  position: fixed;
  top: 0rem;
  left: 0rem;
  transition: all 0.2s ease;
  overflow: auto;
  display: none;

  &.active {
    display: block;
  }

  .mt {
    padding-top: 3.8rem;
  }

  .acct {
    padding-top: 0.6rem;
  }

  ul {
    li {
      margin: 1rem 0rem;

      a {
        color: $primary;

        .accounts {
          @include flexItem(row, flex-start);
          width: 80%;
          padding: 0.4rem 1rem;

          margin: 0rem auto;
        }

        .row {
          @include flexItem(row, flex-start);
          width: 75%;
          padding: 0.4rem 0rem;
          border-radius: 0.21rem;
          transition: all 0.2s ease;

          margin: 0rem auto;

          img {
            width: 1.3rem;
            margin-right: 0.6rem;
          }

          &:hover {
            background: $red;
            color: $white;
            box-shadow: 0rem 0rem 0.2rem rgba(0, 0, 0, 0.2);
            transition: all 0.2s ease;
          }
        }
      }
    }
  }
}
