
@font-face {
  src: url("/assets/fonts/CroissantOne-Regular.ttf");
  font-family: "croissantone";
}

@font-face {
  src: url("/assets/fonts/Cambria.ttf");
  font-family: "cambria";
}


$cambria: "cambria";
$croissantone: "croissantone";
