.testimonial {
  @include flexItem(row, space-around);
  width: 88%;
  margin: 4rem auto;

  .container {
    width: 34%;
    @include flexItem(column, space-between);
    box-shadow: 0rem 0rem 0.2rem rgba(0, 0, 0, 0.2);
    padding: 1rem 1.8rem;
    border-radius: 0.4rem;
    cursor: pointer;
    margin: 1.5rem 0rem;


    img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
    }

    h2 {
      margin: 0.8rem 0rem;
    }

    .testimony {
      margin: 0.7rem 0rem;
      color: $gray2;
    }
  }
}